/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #F9A826;
  text-decoration: none;
}

a:hover {
  color: #ffa515;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #F5A623;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #feb032;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #F9A826;
  overflow-y: auto;
}
#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #333;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}


#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
  .header .logo{
    display: none;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding: 30px 0 0 0;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #333;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #333;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
  color: #fff;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  background-color: #F5A623;
  color: #fff;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: 50px;
  cursor: pointer;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  margin: 10px;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  margin: 0 10px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}
#hero .about-link{
  text-align: left;
  width: 100%;
  margin: 10px;
  margin-top: 40px;
}
#hero .about-button{
  color: #fff;
  background-color: #F5A623;
  padding: 10px 50px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
#hero .about-button:hover{
  background-color: #ffa515;
  color: #333;
}

#hero p span {
  color: #F5A623;
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid #F5A623;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #narrative ul li a{
    margin-top: 20px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #F5A623;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #333;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}
/*------ team ----*/
#team{
  height: auto;
  width: 100%;
  position: relative;
}
#team .profile img {
  margin: 10px auto;
  display: block;
  width: 200px;
  height: 200px;
  border: 8px solid #333;
}
#team .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#team .profile p {
  font-size: 1rem;
  margin: 10px;
  padding: 0;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}
#team .profile .soc-link {
  align-items: center;
  margin: auto;
  text-align: center;
}
.soc-link i{
  font-size: 30px;
}
.soc-link ul{
  position: relative;
  display: inline-flex;
  margin-left: -20px;
}
.soc-link ul li{
  list-style-type: none;
  margin: 0 10px;
}
.soc-link a:hover{
  color: #333;
  transition: 0.5s ease;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about{
  height: 100vh;
  width: 100%;
  position: relative;
}
#about .age-sec{
  margin-top: 70px;
}
.header{
  width: 100%;
  height: 100px;
  position: absolute;
}
.header-content .logo{
  max-width: 100%;
  height: 80px;
  position: relative;
  float: right;
  z-index: 2;
}
.about input[type=file], select {
  width:70%;
  padding: 4px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
}
.about input[type=submit], select {
  width: 25%;
  padding: 4px;
  margin: 10px 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  background-color: #F5A623;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
}
input[type=submit]:hover {
  color: #333;
  background-color: #feb032;
  transition: 300ms;
}
.about .content h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #F5A623;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #F9A826;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}
.about .row .log{
  margin: auto;
}
.about .row .log li{
  display: inline-flex;
  margin: 10px;
}
.row{
  display: flex;
  align-items: center;
}
.col{
  flex-basis: 50%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: left;
}
.form-content{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  position: relative;
}
input[type=text], select{
  width: 100%;
  padding: 2px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #222;
  margin: 9px 0;
}
input[type=password], select{
  width: 100%;
  padding: 2px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #222;
  margin: 10px 0;
}
.edit-account .container .form-content input[type=submit], select {
  width: 100%;
  padding: 5px 20px;
  margin: 10px 5px;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  background-color: #F5A623;
  cursor: pointer;
  border: 1px solid #F5A623;
  transition: 0.5s ease;
}
.edit-account .container .form-content input[type=submit]:hover {
  color: #333;
  background-color: #feb032;
  border: 1px solid #F5A623;
}
.form-content  ul {
  list-style: none;
  padding: 0;
}
.form-content .log li{
  display: inline-flex;
  margin: 10px;
}
.form-content a{
  text-decoration: none;
  color: #888;
  text-align: center;
  border: #888 1px solid;
  border-radius: 10px;
  padding: 5px 30px;
  position: relative;
  transition: 0.5s ease;
}
.form-content a:hover{
  color: #fff;
  background-color: #F5A623;
  transition: 0.5s ease;
  border: 1px solid #F5A623;
}
.form-content h3{
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
}
.about .row .log .edit{
    text-decoration: none;
    color: #fff;
    margin: 10px;
    border: #888 1px solid;
    border-radius: 10px;
    padding: 5px 30px;
    background-color: #F5A623;
    transition: 0.5s ease;
}
.about .row .log .edit:hover{
    color: #333;
    background-color: transparent;
}
.about .row .log .log-button:hover{
  color: #fff;
  background-color: #F5A623;
}
.about .row .log-button{
  padding: 5px 30px;
    color: #888;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #888;
    background-color: #f3f3f3;
    transition: 0.5s ease;
    font-weight: 600;
}
/*---- 404 page not found*/
.error-404 {
  padding: 20px;
}
.error-404 h1{
  font-size: 6rem;
  font-weight: 700;
  color: #feb032;
  margin-bottom: 0;
  line-height: 100px;
}
.error-404 h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #feb032;
  margin-bottom: 30px;
}
.error-404 .btn {
  background: #F5A623;
  color: #fff;
  padding: 8px 30px;
  transition: 0.5s ease;
  margin-bottom: 30px;
}
.error-404 .btn:hover {
  background: #ffa515;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 130px;
}

.contact .info {
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .info i {
  font-size: 20px;
  color: #F9A826;
  float: left;
  width: 44px;
  height: 44px;
  background: #dff3fc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #333;
}

.contact .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ffa515;
}

.contact .info .email p {
  padding-top: 5px;
}

.contact .info .social-links {
  padding-left: 60px;
}

.contact .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact .info .social-links a:hover {
  background: #ffa515;
  color: #fff;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #ffa515;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 15px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #F9A826;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #ffa515;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*------------- OJT REOCRDS --------------------*/
.ojt-center{
  margin: auto;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ojt-records label{
  color: #fff;
  height: 30px;
  width: 130px;
  background-color: #F9A826;
  position: relative;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.5s ease;
}
.ojt-records label:hover{
  background-color: #ffb53f;
}
.ojt-records .ojt-upload{
  padding: 5px 30px;
  color: #fff;
  background-color: #F9A826;
  border-radius: 10px;
  transition: 0.5s ease;
}
.ojt-records .ojt-upload:hover{
  background-color: #feb032;
  
}
.ojt-records .row{
  margin: 10px 0;
}
.ojt-records .blank_page{
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.ojt-records .blank_page i{
  font-size: 110px;
  color: #F5A623;
}
.ojt-records .ojt-bg{
  background-color: #cecece38;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  border: #F5A623 solid 1px;
}
.ojt-records .ojt-bg h5{
  font-weight: 600;
  color: #F5A623;
  font-size: 25px;
}
.ojt-records .ojt-bg p{
  color: #888;
}
.ojt-records hr{
  margin-top: 50px;
  width: 100%;
}
/*-------------Narrative report ---------------*/
.narrative{
  height: auto;
}
.narrative .row{
  margin: 10px 0;
}
.narrative .blank_page{
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 10px;
}
.narrative .blank_page i{
  font-size: 150px;
  color: #F5A623;
}
input[type="submit"]{
  display: none;
}
.narrative .pdf_logo{
  font-size: 100px;
  color: #feb032;
}
.narrative label{
  color: #fff;
  height: 40px;
  width: 160px;
  background-color: #F9A826;
  position: relative;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.5s ease;
}
.narrative label:hover{
  background-color: #ffb53f;
}
.narrative p{
  color: #888;
}
.narrative h1{
  font-size:25px;
  font-weight: 600;
  color: #333;
}
.narrative .form-narrative .narrative-file{
  margin: 10px 0;
}
.thank-content img{
  width: 30%;
  height: auto;
  }
  .thank-section{
      width: 100%;
      height: 100vh;
  }
  .thank-content{
      text-align: center;
      margin: auto;
      background-color: #fff;
      width: 100%;
  }
  .thank-content h3{
      font-size: 2.3rem;
      font-weight: 600;
      padding-top: 150px;
  }
  .thank-content p{
      font-size: 1.2rem;
  }
  .button-home{
      background-color: rgb(240, 240, 240);
      width: 50%;
      height: 2.5rem;
      padding: 5px 30px;
      color: #fff;
      background-color: #ffa515;
      border-radius: 0.5rem;
      margin: auto;
  }
  .button-home:hover{
      transition: 0.5s;
      background-color: #fff;
      border: 1px solid #ffa515;
  }
  .button-home a:hover{
      color: #fff;
      transition: 0.5s;
  }

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background: #f9f9f9;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #ffa515;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
  #about .content h3{
    font-size: 2rem;
  }
  #about{
    height: 160vh;
  }
  .form-content .second{
    margin-top: 0px;
  }
  #edit-account{
    height: 160vh;
  }
  #about .age-sec{
    margin-top: 0;
  }
  .narrative .pdf_logo{
    font-size: 80px;
    margin-top: 30px;
  }
  .ojt-records .blank_page i{
    font-size: auto;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 5px;
  text-align: center;
  font-size: 13px;
  color: #eaebf0;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}